




.navBar{
    display: flex;
    margin-top: 25px;
    margin-left: 50px;
    
    
}


.listItems{
    display: inline;
    font-weight: bold;
    color: blueviolet;
}



.logo{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-top: -8px;
    margin-left: 75px;
}
.dot{
    background-color: orangered;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin-top: 25px;
    

}

.searchBtn{
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    margin-left: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
    border: none;
    width: 250px;
}

.SearchCont{
    position: relative;
    
}


.searchIcon{
    position: absolute;
    left: 410px;
    top: 12px;
}

.basketIcon{
    position: absolute;
    left: 660px;
    top: 10px;

}

.line{
    transform: rotate(90deg);
    width: 23px;
    position: absolute;
    top: 16px;
    right: 45px;
}

.notif1{
    background-color: blueviolet;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top:-10px;
    right: -10px;
}

.circle{
    background-color: antiquewhite;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 50px;
}

.circle1{
    background-color: orangered;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 600px;
    top: 250px;
}

.circle2{
    background: linear-gradient(to bottom,lightblue, white );
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 800px;
    top: 150px;
}
.circle3{
    background-color: violet;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 900px;
    top: 250px;
}

.fashion{
    position: absolute;
    right: 40px;
    bottom: -100px;
}



.hero{
    margin-left: 70px;
}

.hero p{
    margin-top: -150px;
    font-weight: bold;
}

.hero h1{
    font-size: 50px;
    margin-top: -20px;
}

.love{
    background-color: red;
    padding: 10px 10px 10px 10px;
    height: 40px;
    border-radius: 50%;
    color: white;
    transform: rotate(60deg);
    box-shadow: 5px 5px 10px red;
    
}

.hero h2{
    font-size: 14px;
    color: grey;
    margin-bottom: 50px;
}

.shop{
    color: white;
    background-color: blueviolet;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
    
    
    
}

.round{
    background-color: orangered;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 405px;
}

.arrow{
    position: absolute;
    left: 205px;
    top: 410px;
    

}

.play{
    background-color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px grey;
    margin-left: 250px;
    margin-top: -35px;

}

.video{
    color: black;
    position: absolute;
    left: 350px;
    top: 420px;
    text-decoration: none;
    font-weight: bold;
}

.sunflower{
    position: absolute;
    top: 150px;
    right: -20px;
    transform: rotate(270deg);
    height: 10vh;
    
}
.butterfly{
    position: absolute;
    top: 170px;
    right: 650px;
    height: 40px;
    transform: rotate(120deg);
}

.natural{
    background-color: white;
    padding: 30px 30px 30px 30px;
    width: 150px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px  5px grey;
    position: absolute;
    left: 850px;
    top: 400px;
}

.blog{
    background-color: rgb(202, 194, 194);
    padding: 15px 15px 10px 10px;
    width: 165px;
    height: 80px;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    left: 860px;
    top: 405px;
    
}

.love2{
    background-color: white;
    padding: 10px 10px 10px 10px;
    height: 30px;
    border-radius: 50%;
    color: white;
    box-shadow: 5px 5px 10px grey;
    position: absolute;
    right: 300px;
    top: 470px;

}

.jordan{
    height: 150px;
    position: absolute;
    top: 360px;
    right: 360px;
}



.article h1{
    position: absolute;
    right: 350px;
    font-size: 20px;
    top: 500px;


}

.article p{
    position: absolute;
    right: 380px;
    font-size: 14px;
    top: 530px;
    font-weight: bold;
    

}

.line2{
    transform: rotate(90deg);
    width: 10px;
    position: absolute;
    top: 543px;
    right: 420px;
}

.blog1{
    margin-left: 50px;
    margin-top: 100px;
}

.blog1 h1{
    font-size: 14px;
}


.blog1 p{
    color: grey;
}

.bird{
    position: absolute;
    left: 140px;
    bottom: -30px;
    height: 35vh;
    
}
    
.ectasy{
    position: absolute;
    left: 300px;
    bottom:-20px;
}
.star{
    margin-bottom: -5px;
}

.rate{
    position: absolute;
    left: 470px;
    bottom: -15px;
}

.like{
    background-color: blue;
    padding: 10px 10px 10px 10px;
    height: 30px;
    border-radius: 50%;
    color: white;
    box-shadow: 5px 5px 10px grey;
    position: absolute;
    right: 650px;
    top: 500px;

}
.fill{
    background-color: white;
    position: absolute;
    right: 300px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
    top: 550px;
    right: 470px;
}

.art{
    height: 40px;
    position: absolute;
    right: 600px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
    top: 555px;
    
}

.putera{
    height: 40px;
    position: absolute;
    right: 560px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
    top: 555px;
    

}

.simon{
    height: 40px;
    position: absolute;
    right: 510px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 1px grey;
    top: 555px;
    

}

.murat{
    height: 40px;
    position: absolute;
    right: 480px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px grey;
    top: 555px;
    

}

.styles{
    background-color: rgb(52, 34, 70);
    position: absolute;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 5px 5px 10px grey;
    bottom: -250px;
    margin-left: 100px;
    

}

.styles h1{
    position: absolute;
    color: white;
    left: 100px;
    bottom: 60px;
}

.styles p{
    position: absolute;
    color: white;
    left: 100px;
    bottom: 20px;
}

.line3{
    color: grey;
    transform: rotate(90deg);
    width: 30px;
    position: absolute;
    left: 350px;
    

}

.now{
    position: absolute;
    left: 330px;
    top: 220px;
    font-size: 14px;
    
}



.vibes{
    background-color: purple;
    position: absolute;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
    border-radius: 10px 10px 0px 0px;
    bottom: 1px;
    left: 550px;
    

}

.vibes h1{
    position: absolute;
    color: white;
    left: 50px;
    bottom: 100px;
    font-size: 18px;
}


.vibes p{
    position: absolute;
    color: white;
    left: 50px;
    bottom: 20px;
    font-size: 14px;

}

.trump{
    position: absolute;
    color: white;
    right: 280px;
    bottom: -10px;
}

.circle4{
    background-color: orangered;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    bottom: 50px;
}

.circle5{
    background: linear-gradient(to bottom,rgb(129, 195, 218), white );
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 60px;
}
.circle6{
    background-color: violet;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 40px;
}

.flower{
    height: 10vh;
    position: absolute;
    right: 230px;
    bottom: -85px;
    

}




